<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
	<meta charset="ISO-8859-1">
	<title>My Custom Page</title>
	<link rel="stylesheet" th:href="@{/myfiles/sample.css}" />
	<script type="text/javascript" th:src="@{/myfiles/showAlert.js}"></script>
</head>

<body>
	<br />
	<h1 class="my-class">Registration Form</h1>
	<br />
	<div class="center-div">

		<form action="/save" method="post">
			<table style="margin:10px auto;">
				<tr>
					<th>Name</th>
					<td><input type="text" name="name"/></td>
				</tr>
				<tr>
					<th>Age</th>
					<td><input type="text" name="age" /></td>
				</tr>
				<tr>
					<th>Salary</th>
					<td><input type="text" name="salary" /></td>
				</tr>
				<tr>
					<th><button class="btn">Submit</button></th>
				</tr>
			</table>
		</form>
	</div>
</body>

</html>